<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-icon slot="start" name="menu-outline"></ion-icon>
    <ion-title slot="end">Dicas para Academia</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <ion-searchbar animated></ion-searchbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          ion-col
        </ion-col>
        <ion-col>
          ion-col
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
