<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">Alimentação</ion-title>
    <ion-icon slot="end" name="menu-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img
      src="https://images.ctfassets.net/ea2tosc1qg3k/BR-5WOnYHhpVXSqpHytXUunfn/cef807677d83f50d1ff7d42da9c81711/2.2-illu1-protein-desktop.jpg?w=2048&h=1000&q=50&fm=webp"
    />
    <ion-card-header>
      <ion-card-subtitle>Nutrição</ion-card-subtitle>
      <ion-card-title>Carne Magra</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Geralmente, os produtos de origem animal são ótimas fontes de proteínas,
        especialmente as carnes magras, como frango, filé mignon. Apostar nestes
        alimentos fontes de aminoácidos essenciais pode ajudar na recuperação e
        construção muscular.
      </p>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Ovos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Você já deve ter ouvido dizer que os ovos são excelentes fontes de
      proteínas. É que uma unidade deste alimento, sozinho, contém cerca de 6
      gramas de proteínas! Além disso, os ovos possuem os 9 aminoácidos
      essenciais, além de vitaminas D e B2.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Lacticínios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Iogurtes, queijos, leites e outros derivados também são ótimas fontes de
      proteínas e cálcio, além de serem super práticos. Para mais variedade,
      sabor e proteínas, conte com os produtos YoPRO. Com 15, 17 ou 25 gramas de
      proteínas, para os diferentes níveis de atividade física, possuem whey e
      caseína que ajudam na recuperação muscular.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Peixes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Peixes oleosos como atum e salmão são fontes de proteínas, além de ácidos
      graxos ômega 3, nutrientes essenciais para uma dieta saudável e
      equilibrada.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Cereais Integrais</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Que tal incluir os cereais integrais, como o arroz integral, quinoa, aveia
      ou pão integral na sua dieta? São fontes de carboidratos e fibras
      alimentares, que auxiliam na liberação dos níveis de energia de forma mais
      lenta para o organismo. Além disso, hormônios como a insulina, produzidos
      em resposta a nutrientes como a glicose (proveniente dos carboidratos) e
      alguns aminoácidos, ajudam na formação da massa muscular.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Feijões, Ervilha e Lentilha</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Você sabia que alguns vegetais também são boas fontes de proteínas? O
      feijão, tradicional integrante do prato brasileiro, a ervilha e a lentilha
      são bons exemplos. Funcionam muito bem como substitutos da carne quando
      combinados com cereais, como o arroz, por exemplo. Ou seja, o nosso
      querido e saboroso arroz com feijão é uma ótima pedida em termos
      nutricionais. Outras fontes de proteínas vegetais incluem tofu, grãos de
      soja, nozes e sementes. Que time, não?
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Whey Protein</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Se você quer uma dica para ajudar na recuperação muscular, o whey protein
      é uma excelente escolha. Pode ser adicionado a milkshakes, smoothies, na
      aveia ou encontrado em produtos prontos para o consumo, como iogurtes,
      bebidas lácteas e barras de proteínas. Toda a linha YoPRO possui whey
      protein de uma forma prática e saborosa.
    </ion-card-content>
  </ion-card>
</ion-content>
