/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'nunito';
}

ion-toolbar {
  padding: 0 10px;
  --background: var(--ion-color-secondary);
  box-shadow: 0 0 20px var(--ion-shadow);

  ion-icon {
    font-size: 2em;
  }

  ion-title {
    font-size: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.container {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background-color: var(--ion-color-primary);

  ion-searchbar {
    margin-bottom: 2rem;
    --background: var(--ion-color-secondary);
    --border-radius: 15px;
  }

  ion-grid {
    width: 100%;
    height: auto;
  }
}

ion-tab-bar {
  --background: var(--ion-color-secondary);
  box-shadow: 0 0 20px var(--ion-shadow);
}
